---
import type { Playlist } from "@/lib/data";
import PlayingPlaylistIcon from "../aside_menu/PlayingPlaylistIcon";

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<a
    href={`/playlist/${id}`}
    class="playlist-item relative flex items-center gap-3 rounded-md overflow-hidden duration-300 bg-zinc-800/70 hover:bg-zinc-700/70"
>
    <picture class="h-14 w-14 flex-none">
        <img
            src={cover}
            alt={`Cover of ${title} by ${artistsString}`}
            class="object-cover w-full rounded-l-md"
        />
    </picture>
    <h4 class="w-1/2 font-medium truncate">{title}</h4>
    <div class="absolute right-4">
        <PlayingPlaylistIcon id={id} type="card" client:visible />
    </div>
</a>
